// Global Variables
$emg-font-family-base: "Open Sans", sans-serif !default;
$emg-brand-color: #4cb7ac !default;
$emg-border-color: #e0e0e0 !default;
$emg-background: #e0e0e0 !default;
$emg-dark-grey: #333333 !default;

// Table Variables
$emg-table-border-color: transparent !default;
$emg-table-header-bg: transparent !default;
$emg-table-header-color: inherit !default;
$emg-table-row-hover-bg: rgba(0, 0, 0, 0.05) !default;

// Toast Variables
$emg-toast-success: #3c763d !default;
$emg-toast-warning: #8a6d3b !default;
$emg-toast-error: #a94442 !default;
$emg-toast-border-radius: 0.25rem !default;